<nav class="navbar navbar-default">
    <div class="nav navbar-nav navbar-left">
        <a [routerLink]="['/']" class="navbar-brand">
            <img alt="Brand" src="https://cdn4.cdn.site-media.eu/images/220/1770629/Websitebutler-Logo.png">
        </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a [routerLink]="['/']"><i class="glyphicon glyphicon-home"></i> Home </a></li> | 
        <li><a [routerLink]="['test']"><i class="glyphicon glyphicon-edit"></i> Test </a></li>
    </ul>
</nav>
<router-outlet></router-outlet>
