<div class="table-responsive col-md-10">
    <table class="table table-striped table-hover">
        <thead>
            <th>
                Word
            </th>
            <th>
                Meaning
            </th>
            <th>
                Action
            </th>
        </thead>
        <tbody>
            <tr  *ngFor="let item of wordList">
                <td>
                        {{item.word}}
                </td>
                <td>
                        {{item.meaning}}
                </td>
                <td>
                        <button (click)="deleteWord(item)"> <i  class="glyphicon glyphicon-remove"></i> </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>